[submodule "polaris-build"]
	path = polaris-build
	url = ../../polaris-common/polaris-build
[submodule "polaris-integrations"]
	path = polaris-integrations
	url = ../../polaris-common/polaris-integrations
[submodule "polaris-graphql"]
	path = polaris-graphql
	url = ../../polaris-common/polaris-graphql
[submodule "polaris-flask"]
	path = polaris-flask
	url = ../../polaris-common/polaris-flask
[submodule "polaris-repos-db"]
	path = polaris-repos-db
	url = ../../polaris-dbapi/polaris-repos-db
[submodule "polaris-auth-db"]
	path = polaris-auth-db
	url = ../../polaris-dbapi/polaris-auth-db
[submodule "polaris-messaging"]
	path = polaris-messaging
	url = ../../polaris-common/polaris-messaging
[submodule "polaris-common-db"]
	path = polaris-common-db
	url = ../../polaris-common/polaris-common-db
[submodule "polaris-repos-intake-db"]
	path = polaris-repos-intake-db
	url = ../../polaris-dbapi/polaris-repos-intake-db
